body{
	margin:0px;
	padding:0px;
}
.wrapper{
	margin:150px auto;
	width:90%;
}
.content{
	width:80%;
	margin:50px auto;
}
a{
	text-decoration:none;
	color:#f0f0f0;
}
a:hover{
	cursor:pointer;
	color:#000;
}
.blog a{
	color:#000;
	display:block;
}
.blog a:hover{
	color:#aaa;
}
.pagination{
	margin-top:50px;
}
.pagination a{
	color:#555;
	text-decoration:none;
}
.title{
	min-width:5px;
	max-width:10px;
	font-size:26px;
	font-weight:400;
	text-align:center;
}
.blogTitle{
	min-width:5px;
	max-width:10px;
	font-size:26px;
	font-weight:400;
	text-align:center;
}
.summary{
	font-family:'Lato',"PingFang SC","Microsoft YaHei",sans-serif;
	font-size:14px;
}
.blogCon{
	font-family:'Lato',"PingFang SC","Microsoft YaHei",sans-serif;
	font-size:14px;
}
.info{
	text-align:center;
}
.pagination a:hover{
	cursor:pointer;
	color:#aaa;
}
.pagination{
	margin-bottom:50px;
	text-align:center;
}
.pre{
	text-align:left;
}
.next{
	text-align:right;
}
.footer{
	position:relative;
	left:0;
	bottom:0;
	width:100%;
	background:#f0f0f0;
	text-align:center;
	padding:20px 0;
}
.footer-inner{
	margin:0 auto;
}