<html>
<head>
<title>Blog Programming</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" href="../../css/common/common.css" type="text/css" />
<link rel="stylesheet" href="../../css/common/nav.css" type="text/css" />
<link rel="stylesheet" href="../../static/css/font-awesome.min.css" type="text/css" />
<script type="text/javascript" src="../../js/jquery/jquery-2.1.4.min.js"></script>
<style type="text/css">

</style>
<script>
$(document).ready(function(){
	var data = {
		type:"time"
	};
	var JsonData = JSON.stringify(data);
	$.ajax({
		url:'http://localhost:8080/pz/article/articleList.do',
		type:'POST',
		dataType:'json',
		contentType:'application/json',
		data:JsonData,
		async:false,
		success:function(data){
			var html = '';
			var yearBlogs = data.articles;
			var years = Object.keys(yearBlogs);
			for(year in years){
				html += '<div class="tag">'
					+'<h1>'
					+years[year]
					+'</h1>'
					+'</div>';
				var monthBlogs = yearBlogs[years[year]];
				var months = Object.keys(monthBlogs);
				for(month in months){
					var dayBlogs = monthBlogs[months[month]];
					var days = Object.keys(dayBlogs);
					for(day in days){
						var blogs = dayBlogs[days[day]];
						for(blog in blogs){
							var article = blogs[blog];
							html += '<div class="blog">'
								+'<div class="title">'
								+'<ul>'
								+'<li>'
								+'<a href="blog.html?id='+article.id+'">'+article.title+'</a>'
								+'</li>'
								+'</ul>'
								+'</div>'
								+'</div>';
						}
					}
				}
			}
			console.log(JSON.stringify(html));
			$('#content').html(html);
		},
		error:function(xhr){
			alert("查询出错")
		}
	});
});
</script>
</head>
<body>
<div class="nav">
	<div class="menu">
		<ul>
			<li><a href="../home.html"><i class="fa fa-home fa-fw"></i>首页</a></li>
			<li><a href="../note/archiveBlog.html"><i class="fa fa-archive fa-fw"></i>归档</a></li>
			<li><a href="../note/categoryBlog.html"><i class="fa fa-th fa-fw"></i>分类</a></li>
			<li><a href="../note/tagBlog.html"><i class="fa fa-tags fa-fw"></i>标签</a></li>
			<li><a href="../about.html"><i class="fa fa-user fa-fw"></i>关于</a></li>
		</ul>
	</div>
</div>
<div class="wrapper">
<div class="content" id="content">
	
</div>
</div>
</body>
</html>