<html>
<head>
<title>Blog Programming</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" href="../../css/common/nav.css" type="text/css" />
<link rel="stylesheet" href="../../static/css/font-awesome.min.css" type="text/css" />
<script type="text/javascript" src="../../js/jquery/jquery-2.1.4.min.js"></script>
<style type="text/css">
.blog{
	margin:50px 150px 50px 150px;
	width:90%;
}
.content{
	width:80%;
	margin:150px auto;
	text-align:center;
	vertical-align:middle;
}
</style>
<script>
$(document).ready(function(){
	var data = {
		type:"time"
	};
	var JsonData = JSON.stringify(data);
	$.ajax({
		url:'http://localhost:8080/pz/article/articleList.do',
		type:'POST',
		dataType:'json',
		contentType:'application/json',
		data:JsonData,
		async:false,
		success:function(data){
			var html = '';
			var times = data.articles;
			for(time in times){
				console.log(JSON.stringify(time));
				var blogs = times[time];
				html += '<div class="tag">'
					+'<h1>'
					+time
					+'</h1>'
					+'</div>';
				for(blog in blogs){
					var article = blogs[blog];
					html += '<div class="blogTitle">'
						+'<ul>'
						+'<li>'
						+'<a href="noteDetail.html?id='+article.id+'">'+article.title+'</a>'
						+'</li>'
						+'</ul>'
						+'</div>'
						+'<div class="info">'
						+'<span class="date" style="color:#4a86e8">write by '+article.dateUpdated+'</span>'
						+'</div>'
						+'<div class="blogCon">'+article.content+'</div>'
						+'<div class="blogFoot">'
						+'posted @'+article.author+'&nbsp;&nbsp;'+article.dateCreated+' 阅读('+article.countComment+') 评论('+article.countComment+')'
						+'<a href="javascript:void(0);" onclick="update();">编辑</a>'
						+'</div>';
				}
			}
			console.log(JSON.stringify(html));
			$('#content').html(html);
		},
		error:function(xhr){
			alert("查询出错")
		}
	});
});
</script>
</head>
<body>
<div class="nav">
	<div class="menu">
		<ul>
			<li><a href="../home.html"><i class="fa fa-home fa-fw"></i>首页</a></li>
			<li><a href="../note/archiveBlog.html"><i class="fa fa-archive fa-fw"></i>归档</a></li>
			<li><a href="../note/categoryBlog.html"><i class="fa fa-th fa-fw"></i>分类</a></li>
			<li><a href="../note/tagBlog.html"><i class="fa fa-tags fa-fw"></i>标签</a></li>
			<li><a href="../about.html"><i class="fa fa-user fa-fw"></i>关于</a></li>
		</ul>
	</div>
</div>
<div class="wrapper">
<div class="content" id="content">
	
</div>
</div>
</body>
</html>