<html>
<head>
<title>Blog Programming</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" href="/pz/views/css/common/nav.css" type="text/css" />
<script type="text/javascript" src="/pz/views/js/jquery/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" href="/pz/views/static/css/font-awesome.min.css" type="text/css" />
<style type="text/css">
.blog{
	margin:50px 150px 50px 150px;
	width:90%;
}
.content{
	width:80%;
	margin:50px auto;
	text-align:center;
	vertical-align:middle;
}
</style>
<script>
	/* $(document).ready(function(){
	}); */

	function update(){
		alert(123);
	}
</script>
</head>
<body>
<div class="nav">
	<div class="menu">
		<ul>
			<li><a href="../home.html"><i class="fa fa-home fa-fw"></i>首页</a></li>
			<li><a href="../note/archiveBlog.html"><i class="fa fa-archive fa-fw"></i>归档</a></li>
			<li><a href="../note/categoryBlog.html"><i class="fa fa-th fa-fw"></i>分类</a></li>
			<li><a href="../note/tagBlog.html"><i class="fa fa-tags fa-fw"></i>标签</a></li>
			<li><a href="../about.html"><i class="fa fa-user fa-fw"></i>关于</a></li>
		</ul>
	</div>
</div>
<div class="wrapper">
<p>
<div class="main">
	<div class="sideBar"></div>
	<div class="blog">
  		<div class="blogTitle" style="font-size:16;">
  			android开发中的数据库SQLite的使用
		</div>
  		<div class="blogCon" style="font-size:16;">摘要: 其实学习android很久了，关于数据存储，之前学习的时候也一同学习过，编程这些东西很久没用都忘得差不多了，最近做个项目要用到，所以又学习了一遍。android中关于数据<p>的存储有好几种，这次主要是SQLite的使用。首先说一点，我的技术很烂，原理什么的不说了，就是讲一下怎么使用，包括“增删改查”这几...
  			<a>阅读全文</a>
  		</div>
  		<div class="blogFoot" style="font-size:16;">
  			posted @ 2015-03-11 13:58 楚莫言 阅读(201) 评论(0) 
  			<a href="/cola/note/edit">编辑</a>
  		</div>
	</div>
	<c:forEach items="${notes}" var="note">
		<div class="blog">
  			<div class="blogTitle">
  				<c:out value="${note.articleTitle}"/>
  			</div>
			<div class="blogCon" style="font-size:16;">
				<c:out value="${note.articleContent}"/>
  			</div>
  			<div class="blogFoot">
  				posted @<c:out value="${note.userName}"/>&nbsp;&nbsp;<c:out value="${note.dateCreated}"/> 阅读(<c:out value="${note.countComment}"/>) 评论(<c:out value="${note.countComment}"/>) 
  				<a href="javascript:void(0);" onclick="update();">编辑</a>
  			</div>
		</div>
	</c:forEach>
</div>
</div>
</body>
</html>