<html>
<head>
<title>new note</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" href="/pz/views/css/common/common.css" type="text/css" />
<link rel="stylesheet" href="/pz/views/css/common/nav.css" type="text/css" />
<style type="text/css">
 #article_foot a{
 	color:#080808;
 }
</style>
<script type="text/javascript" src="/pz/views/js/jquery/jquery-2.1.4.min.js">
</script>
<script>
	$(document).ready(function(){
	});
</script>
</head>
<body bgcolor="#f0f0f0">
<div class="nav">
	<div class="menu">
		<ul>
			<li><a href="/zone/home/home"><i class="fa fa-home fa-fw"></i>首页</a></li>
			<li><a href="/zone/note/archive"><i class="fa fa-archive fa-fw"></i>归档</a></li>
			<li><a href="/zone/note/category"><i class="fa fa-th fa-fw"></i>分类</a></li>
			<li><a href="/zone/note/tag"><i class="fa fa-tags fa-fw"></i>标签</a></li>
			<li><a href="/zone/about"><i class="fa fa-user fa-fw"></i>关于</a></li>
		</ul>
	</div>
</div>
<div class="wrapper">
	<div id="article">
		<h1 align="center">日记</h1>
			${note.articleTitle}<P>
			<h6>${note.articleContent}</h6><P>
			${note.category}<P>
			<div id="article_foot">
				<span><a href="/cola/note/edit/${note.articleId}">修改</a></span>
				&nbsp;&nbsp;&gt;&gt;
				<span><a href="/cola/note/delete/${note.articleId}">删除</a></span>
			</div>
	</div>
</div>
</body>
</html>