<html>
<head>
<title>Blog Programming</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" href="/pz/views/css/common/nav.css" type="text/css" />
<script type="text/javascript" src="/pz/views/js/jquery/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" href="/pz/views/static/css/font-awesome.min.css" type="text/css" />
<style type="text/css">
.blog{
	margin:50px 150px 50px 150px;
	width:90%;
}
.content{
	width:80%;
	margin:50px auto;
	text-align:center;
	vertical-align:middle;
}
</style>
<script>
$(document).ready(function(){
	var data = {
		type:"tag"
	};
	var JsonData = JSON.stringify(data);
	$.ajax({
		url:'http://localhost:8080/pz/article/articleList.do',
		type:'POST',
		dataType:'json',
		contentType:'application/json',
		data:JsonData,
		async:false,
		success:function(data){
			console.log(JSON.stringify(data));
			var html = '';
			var str = data.articles;
			//var obj = eval ("(" + jsonObj + ")");
			var obj = str.parseJSON();
			for(var i=0,l=obj.length;i<l;i++){
				for(var key in obj[i]){
					alert(key+':'+obj[i][key]);
				}
			}
			console.log(html);
			$('#content').html(html);
		},
		error:function(xhr){
			alert("123")
		}
	});
});
</script>
</head>
<body>
<div class="nav">
	<div class="menu">
		<ul>
			<li><a href="../home.html"><i class="fa fa-home fa-fw"></i>首页</a></li>
			<li><a href="../note/archiveBlog.html"><i class="fa fa-archive fa-fw"></i>归档</a></li>
			<li><a href="../note/categoryBlog.html"><i class="fa fa-th fa-fw"></i>分类</a></li>
			<li><a href="../note/tagBlog.html"><i class="fa fa-tags fa-fw"></i>标签</a></li>
			<li><a href="../about.html"><i class="fa fa-user fa-fw"></i>关于</a></li>
		</ul>
	</div>
</div>
<div class="wrapper">
</div>
</body>
</html>