<html>
<head>
<title>Movie</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" href="/pz/views/css/common/common.css" type="text/css" />
<link rel="stylesheet" href="/pz/views/css/common/nav.css" type="text/css" />
<style type="text/css">
</style>
<script type="text/javascript" src="/pz/views/js/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/pz/views/js/vue/vue.js"></script>
<script>
	$(document).ready(function(){
	});
</script>
</head>
<body>
<div class="nav">
	<div class="menu">
		<ul>
			<li><a href="/zone/home/home"><i class="fa fa-home fa-fw"></i>首页</a></li>
			<li><a href="/zone/note/archive"><i class="fa fa-archive fa-fw"></i>归档</a></li>
			<li><a href="/zone/note/category"><i class="fa fa-th fa-fw"></i>分类</a></li>
			<li><a href="/zone/note/tag"><i class="fa fa-tags fa-fw"></i>标签</a></li>
			<li><a href="/zone/about"><i class="fa fa-user fa-fw"></i>关于</a></li>
		</ul>
	</div>
</div>
<div class="wrapper">
<p>
	<h1>movie</h1>
	<div id="content">
		{{content_text}}
	</div>
</div>
<script>
	var movie = new Vue({
		el:'#content',
		data:{
			content_text:'welcome to movie zone!'
		}
	})
</script>
</body>
</html>