<html>
<head>
<title>About Me</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" href="/pz/views/css/common/common.css" type="text/css" />
<link rel="stylesheet" href="/pz/views/css/common/nav.css" type="text/css" />
<link rel="stylesheet" href="/pz/views/static/css/font-awesome.min.css" type="text/css" />
<style type="text/css">
.blog{
	margin:50px 150px 50px 150px;
	width:90%;
}
.blog .title{
	text-align:center;
}
.content li{
        display:inline-block;
        list-style-type:none;
        font-size:15px;
        padding:0 5px;
}
.footer{
        position:absolute;
        bottom:0px;
        width:100%;
        height:55px;
        background:#f0f0f0;
        text-align:center;
        padding:30px 0;
}
.footer-inner{
        margin:0 auto;
}
</style>
</head>
<body>
<div class="nav">
	<div class="menu">
		<ul>
			<li><a href="home.html"><i class="fa fa-home fa-fw"></i>首页</a></li>
			<li><a href="note/archiveBlog.html"><i class="fa fa-archive fa-fw"></i>归档</a></li>
			<li><a href="note/categoryBlog.html"><i class="fa fa-th fa-fw"></i>分类</a></li>
			<li><a href="note/tagBlog.html"><i class="fa fa-tags fa-fw"></i>标签</a></li>
			<li><a href="about.html"><i class="fa fa-user fa-fw"></i>关于</a></li>
		</ul>
	</div>
</div>
<div class="wrapper">
	<div class="content" id="content">
		<h1>tian chaozhe</h1>
		<ul>
			<li><h2>田超哲</h2></li>
			<li><h2>长安大学</h2></li>
			<li><h2>nathanieltian@163.com</h2></li>
			<li><h2>平安科技核心信托系统开发部</h2></li>
		</ul>
	</div>
	<div class="footer">
		<div class="footer-inner">
			<i class="fa fa-copyright fa-fw"></i>2017
			<i class="fa fa-heart fa-fw"></i>Tian Chaozhe
		</div>
	</div>
	
</div>
</body>
<script type="text/javascript">
    var editor = null;
    window.onload = function(){
    	//CKFinder.setupCKEditor();
        editor = CKEDITOR.replace('ckeditor'); //参数‘ckeditor’是textarea元素的name属性值，而非id属性值
        editor.getData();
        CKFinder.setupCKEditor( editor, '../' ) ;
    }
</script>
<script type="text/javascript">
$(document).ready(function(){
	
});
</script>
</html>