<html>
<head>
<title>Archive Blog</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" href="css/common/nav.css" type="text/css" />
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
<script type="text/javascript" src="js/jquery/jquery-2.1.4.min.js"></script>
<style type="text/css">
.content{
	width:850px;
	margin:150px auto;
	vertical-align:middle;
}
a{
	text-decoration:none;
	color:#000;
}
a:hover{
	cursor:pointer;
	color:#aaa;
}
</style>
<script>
$(document).ready(function(){
	backTop();
});
function backTop() {
    var GTop = $(document).scrollTop();
    if (GTop > 450) {
        $(".page-retop-btn").css("display", "block")
    } else {
        $(".page-retop-btn").css("display", "none")
    }
    setTimeout(backTop);
}
$(".page-retop-btn").click(function() {
    $("html,body").animate({
        scrollTop: 0
    },
    400);
});
</script>
</head>
<body>
<div class="nav">
	<div class="menu">
		<ul>
			<li><a href="home.html"><i class="fa fa-home fa-fw"></i>首页</a></li>
			<li><a href="archiveBlog.html"><i class="fa fa-archive fa-fw"></i>归档</a></li>
			<li><a href="categoryBlog.html"><i class="fa fa-th fa-fw"></i>分类</a></li>
			<li><a href="tagBlog.html"><i class="fa fa-tags fa-fw"></i>标签</a></li>
			<li><a href="about.html"><i class="fa fa-user fa-fw"></i>关于</a></li>
		</ul>
	</div>
</div>
<div class="wrapper">
<div class="content" id="content">
	
</div>
</div>
</body>
</html>