<html>
<head>
<title>Blog Programming</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" href="http://localhost:8080/pz/views/css/common/common.css" type="text/css" />
<link rel="stylesheet" href="http://localhost:8080/pz/views/css/common/nav.css" type="text/css" />
<link rel="stylesheet" href="http://localhost:8080/pz/views/static/css/font-awesome.min.css" type="text/css" />
<style type="text/css">
span{
	margin:2px 2px;
	-moz-user-select:none; /*火狐*/
	-webkit-user-select:none; /*webkit浏览器*/
	-ms-user-select:none; /*IE10*/
	-khtml-user-select:none; /*早期浏览器*/
	user-select:none;
}
#operate li{
	margin:2px 2px;
	font-size:15px;
}
</style>
<script type="text/javascript" src="http://localhost:8080/pz/views/js/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="http://localhost:8080/pz/views/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="http://localhost:8080/pz/views/ckeditor/config.js"></script>
<script type="text/javascript" src="http://localhost:8080/pz/views/ckfinder/ckfinder.js"></script>
</head>
<body>
<div class="nav">
	<div class="menu">
		<ul>
			<li><a href="/zone/home/home"><i class="fa fa-home fa-fw"></i>首页</a></li>
			<li><a href="/zone/note/archive"><i class="fa fa-archive fa-fw"></i>归档</a></li>
			<li><a href="/zone/note/category"><i class="fa fa-th fa-fw"></i>分类</a></li>
			<li><a href="/zone/note/tag"><i class="fa fa-tags fa-fw"></i>标签</a></li>
			<li><a href="/zone/about"><i class="fa fa-user fa-fw"></i>关于</a></li>
		</ul>
	</div>
</div>

<div class="wrapper">
	<div class="content">
		<div class="operate" id="operate">
			<ul>
				<li><span>新增</span></li>
				<li><span>修改</span></li>
				<li><span>删除</span></li>
			</ul>
		</div>
		<div class="categoryId" id="categoryId">
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		var data = '';
		var JsonData = JSON.stringify(data);
		$.ajax({
			url:'http://localhost:8080/pz/category/categoryList.do',
			type:'POST',
			dataType:'json',
			contentType:'application/json',
			data:JsonData,
			async:false,
			success:function(data){
				console.log(JSON.stringify(data));
				var html = '<table border="1" cellpadding="10">'+'<thead>'+'<td>'+'选项'+'</td>'+'<td>'+'编号'+'</td>'+'<td>'+'名称'+'</td>'+'</thead>';
				var categorys = data.dataList;
				for(var i=0; i<categorys.length; i++){
					var category = categorys[i];
					html+='<tr>'
					+'<td><input type="checkbox" value="'+category.id+'"></td>'
					+'<td>'+category.id+'</td>'
					+'<td>'+category.name+'</td>'
					+'</tr>';
				}
				html+='</table>';
				console.log(html);
				$('#categoryId').html(html);
			},
			error:function(xhr){
				alert("123")
			}
		});
		$('#coffee').click(function(){
			if(this.style=='none'){
				this.style.backgroundColor='#ccc';
			}else{
				this.style='none';
				//this.style.backgroundColor='white';
			}
		});
		$('#textContent #submit').click(function(){
			var data = {
					'note':editor.getData()
			}
			var JsonData = JSON.stringify(data);
			$.ajax({
				url:'http://localhost:8080/pz/article/addArticle.do',
				type:'POST',
				dataType:'json',
				contentType:'application/json',
				data:JsonData,
				async:false,
				success:function(data){
					var id = data.article.id;
					window.location.href ="http://localhost:8080/pz/views/jsp/note/noteDetail.html?id="+id;
				}
			});
		});
	});
</script>
</body>
</html>